@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 18px;
}
$mint: all 0.3s linear;
#navbarSupportedContent ul > li > a {
  transition: all 0.2s ease-out;
  padding: 0 20px;
}
#navbarSupportedContent ul > li > a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  color: #0070f3;
}
#navbarSupportedContent ul {
  //   background-color: #0070f3;
  margin: auto;
}
$write: "Raleway", sans-serif;
@mixin font-kit {
  font-family: $write;
  font-weight: 800;
  letter-spacing: 1.3px;
  align-items: center;
}
$blu: #0070f3;
.mint {
  width: 100%;
  margin: 60px 30px;
  padding: 10px;
  background-color: #eee;
  display: flex;
}
.mint-1 {
  margin: 20px 30px;
}
.card-title {
  color: $blu;
  @include font-kit();
}
.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 15px;
}
.bit {
  background: linear-gradient(to right, rgb(29, 226, 29), rgb(17, 241, 73));
}
.bit-1 {
  background: linear-gradient(to right, magenta, rgb(161, 2, 161));
}
.bit-2 {
  padding: 10px;
  background: linear-gradient(to right, royalblue, #0070f3);
  font-family: sans-serif;
  transition: $mint;
  color: rgb(26, 25, 41);
}
.lead {
  font-weight: 400;
}
.wing {
  background: linear-gradient(to right, white 40%, rgb(125, 158, 255));
  border: none;
}
.wing-1 {
  background: linear-gradient(to right, white 40%, rgb(125, 158, 255));
  border: none;
}
.navbar {
  transition: $mint;
}
.mint-2 {
  background: linear-gradient(to right, rgb(197, 29, 248), #0004f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Baloo Bhaijaan 2", cursive;
  padding: 10px;
}
.mint-4 {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.mint-5 {
  padding: 10px;
  transition: all 0.3s linear;
  background-color: #0004f3a1;
  &:hover {
    #navbarSupportedContent ul > li > a:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
      color: #ffffff;
    }
    #net-2 ul > li > a:hover {
      color: black;
    }
  }
}
.hov-1 {
  transition: $mint;
  &:hover {
    .card-text{
      transition: $mint;
      font-weight: 400;
    }
    transition: $mint;
    transform: scale(1.05);
    background: linear-gradient(to bottom, white, #93c4fc);
    border: none;
    outline: none;
    .btn {
      background-color: #0070f3;
      color: #eee;
    }
  }
  // background: #000;
}
